.wrapper {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}

.description {
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-size: 14px;
}

.total {
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-size: 30px;
  font-weight: bold;
}
